<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.kaleidoscope.extensionpoint.deltadiscoverer" name="DeltaDiscoverer" schema="schema/com.kaleidoscope.extensionpoint.deltadiscoverer.exsd"/>
   <extension-point id="com.kaleidoscope.extensionpoint.artefactadapter" name="Artefact Adapter" schema="schema/com.kaleidoscope.extensionpoint.artefactadapter.exsd"/>
   <extension-point id="com.kaleidoscope.extensionpoint.controller" name="Controller" schema="schema/com.kaleidoscope.extensionpoint.synchronizer.exsd"/>
   <extension-point id="com.kaleidoscope.extensionpoint.correspondenceadapter" name="CorrespondenceAdapter" schema="schema/com.kaleidoscope.extensionpoint.correspondenceadapter.exsd"/>
   <extension-point id="com.kaleidoscope.extensionpoint.bxtool" name="BXtool" schema="schema/com.kaleidoscope.extensionpoint.bxtool.exsd"/>
   <extension
         point="com.kaleidoscope.extensionpoint.deltadiscoverer">
      <client
            class="com.kaleidoscope.implementation.deltadiscovery.EMFcompareDeltaDiscover"
            type="default">
      </client>
   </extension>
   <extension
         point="com.kaleidoscope.extensionpoint.controller">
      <client
            class="com.kaleidoscope.implementation.controller.ControllerImpl"
            type="default">
      </client>
   </extension>
   <extension
         point="com.kaleidoscope.extensionpoint.artefactadapter">
      <client
            class="com.kaleidoscope.implementation.artefactadapter.JavaArtefactAdapter"
            type="java">
      </client>
   </extension>
   <extension
         point="com.kaleidoscope.extensionpoint.artefactadapter">
      <client
            class="com.kaleidoscope.implementation.artefactadapter.XMIArtefactAdapter"
            type="xmi">
      </client>
   </extension>
   <extension
         point="com.kaleidoscope.extensionpoint.bxtool">
      <client
            class="com.kaleidoscope.implementation.tool.BxtendTool"
            type="bxtend">
      </client>
      <client
            class="com.kaleidoscope.implementation.tool.EMoflonTool"
            type="emoflon">
      </client>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SimpleJava -->
      <package
            uri="platform:/plugin/com.kaleidoscope.core/model/SimpleJava.ecore"
            class="SimpleJava.SimpleJavaPackage"
            genModel="model/SimpleJava.genmodel"/>
   </extension>

</plugin>
